.vs/
build/
out/
NDS_UNPACK/
saves/
bin/*
!bin/windows_x64/
!bin/windows_arm64/

# LAYTON1 custom assets
games/*
!games/LAYTON1/
games/LAYTON1/*
!games/LAYTON1/bg
games/LAYTON1/bg/*
!games/LAYTON1/bg/custom/
